[2017-08-21 06:53] Kocal opened #1 "Write tests."

[2017-08-27 06:39] Kocal commented on #1
Fixed with 5d6775965ea183f5248c8c89f0d6f5e296eb9081, daf4e7482021f4f5121d435b62a254819ba98fc1, 83ebead1e0932fae33236ad430800a6c18561d9f, 59186682283f0bae5c5448c166cf6a542a1b834e, dce95e03d9c9050f0f9329032733d17221f85edf, 2ecab15e132476cfbe24d62191000d7fe704eb0c, 15aea0e407026ca13db29c0b329e59d949cfbdf5, c5771e80d47a8b74d733fa1725628f5c13360aa9, ab02d40b3320b4942a8015463bec2e70fbc4e267.

[.vue requ

[2017-08-27 06:39] #1 closed

[2017-08-31 12:06] kryvonos-v opened #2 "JSDoc description for 'data' and 'computed'."
Hey, there!

Is it possible somehow to add JSDoc description for 'computed' and 'data''? I would really like to have this kind of functionality.

[2017-08-31 16:54] Kocal commented on #2
Hey,

It's something I want to see but it's not already implemented.
Do you have an idea how we can write a description for "computed" and "data"?

I have two ideas for now.

The first with a new tag named `vueData`
[code]

or the second by modifying Vue, but I don't want to do that.

[code]

[2017-08-31 16:56] Kocal commented on #2
Or maybe something like
[code]

I think this one is better

[2017-08-31 18:48] Kocal commented on #2
A more complex example:

[code]

[2017-09-03 13:57] sagarkbhatt opened #4 "Reference error variable is not defined for global variable"
while running JSDOC command I am getting above error for JS global variable that I am using in a component.

[2017-09-03 14:08] sagarkbhatt opened #5 "Generated docs contain url like this `%2520` and results in 404 error"

[2017-09-03 17:28] Kocal commented on #4
The plugin actually execute the code between `<script>` tags. So yea, the plugin doesn't know about global variables.

What about testing if the variable exists before using it? You won't have any errors  I guess

[2017-09-03 17:28] Kocal commented on #5
Can you provide an example?

[2017-09-03 18:12] sagarkbhatt commented on #4
I am assigning global variable to vue component's data.
Any other solution like vue-template-loader works ??

[2017-09-03 19:41] Kocal commented on #4
Mmmh, the only « solution » (not tested) I can provide for now is to test if the global variable exists :/

[code]

I'm not sure your component will still works, but at least it won't fail when running JSDoc

[2017-09-08 08:54] Kocal commented on #4
@sagarkbhatt did it work?

[2017-10-04 12:03] MyrtoM opened #7 "Error finding modules import with an alias and extensions resolve in Webpack"
While running jsdoc command, the error 'Error: Cannot find module 'components/base/header/Header' is thrown because I'm using the "@" alias and the rules of resolve extentions of my Webpack config. So I import the child components with that kind of pattern in my Vue components :
_import Header from '@/components/base/header/Header'_

Is it expected that you will consider such rules in the future ?

[2017-10-04 12:53] Kocal commented on #7
Hi,

Unfortunately, the plugin doesn't use webpack config file, so the plugin doesn't know what is an alias or not, and so it's failing for your usage case.

Also, i don't want to make webpack running on VueJS project, because I will probably lost jsdoc comment and I will be unable to run JSDoc on it...

I'm thinking about it!

[2017-10-11 20:55] awmottaz commented on #7
Is it possible to at least make it optional whether this plugin will follow the import paths? Can you just treat them like a black box and document the code that is actually present in the `.vue` file?

[2017-10-12 05:47] Kocal commented on #7
Mmmh yea why not.

I see something like that for JSDoc config:

[code]

Also, I need to modify [lib/vueComponentPrototypeExtractor.js](lib/vueComponentPrototypeExtractor.js).
I will work on that this week-end I think

[2017-10-12 20:37] Kocal commented on #7
Check the new 1.0.11 version, you can choose to follow imports or not (https://github.com/Kocal/jsdoc-vuejs#usage)

[2017-10-13 14:42] MyrtoM commented on #7
Thank you so much, this is great, very usefull !

[2017-10-13 14:42] #7 closed

[2017-11-05 04:23] sccdcwc opened #10 "error:missing script:docs"
$ npm install && npm run docs
when I run this command,it shows 'missing script:docs'. what's wrong?How to solve it? Thanks.

[2017-11-05 05:53] sccdcwc commented on #10
I got it what wrong is.I should write the package.json to let it know what docs is! Thanks!

[2017-11-05 07:16] Kocal commented on #10
The command `npm run docs` should be run inside folder `example`.

Maybe it's not very clear in the README ... 🤔

[2017-11-12 14:31] Radiergummi opened #11 "Readme unclear"
It's two things that confuse me a little:

a) What does the *WARNING: Actually, it's only working with the default JSDoc template.* refer to?
b) Why is the `@vue` necessary? We're inside of a `.vue` file, so that should be pretty clear already?

[2017-11-12 16:05] Kocal commented on #11
Hey!

### Question a)

It's due to my lack of knowledge of JSDoc or JSDoc's own limitations.

I wanted to display data/computed/props/methods/hooks of a Vue component, like JSDoc do for class methods, properties, etc ...

Since I wasn't able to do that, I had to use a [dirty trick](https://github.com/Kocal/jsdoc-vuejs/blob/89ca2f11647724cfdfab94b989f2635451afb8c2/index.js#L28) for writing plain HT

[2017-11-12 17:57] Radiergummi commented on #11
Okay, thank you for the quick answer. Thats helpful! 😊

[2017-11-12 17:57] #11 closed

[2017-11-12 19:08] Radiergummi opened #12 "SyntaxError: Unexpected token export"
I'm sorry, it's me again 😅   I'm currently working on an ES6-only Vue project and stumbled across the following error:

[code]

Seems to come from here:

[code]

I have several components ending in `.vue` and one `.js` mixin most of them `import`. This error seems to happen once I import the mixin somewhere...

[2017-11-12 19:31] Kocal commented on #12
That's probably because `babel-register` is not installed.

I didn't put it in `package.json`'s project because I relied on the fact that `babel-register` is already installed with webpack Vue template.

[2017-11-12 19:40] Radiergummi commented on #12
Okay, think I've got it now. `babel-register` is indeed installed, but it seems like if you `import` from .js files instead of .vue files, it breaks. I just moved all mixin code into a .vue file containing only the script tag and now the error is gone.

[2017-11-12 19:44] Kocal commented on #12
Well, that's because of [this](https://github.com/Kocal/jsdoc-vuejs/blob/master/lib/requireHookForVue.js)

As you can see, only `.vue` is passed onto Babel, not `.js`.
And... since ES6 `import`/`export` are not already supported by Node, it fails

[2017-11-12 19:46] Radiergummi commented on #12
Ha, okay, that makes sense actually. Considering the inspected script is running in a sandbox, would it hurt to extend the hook to `.js` files?

[2017-11-12 19:50] Kocal commented on #12
Mmmh, since it's only for documentation, I think not...
Maybe you can do a PR :D

[2017-11-12 22:05] Radiergummi commented on #12
I've already played around a bit, results in the original error, though D:
I'll have a look the next days!

[2017-11-12 22:15] Kocal commented on #12
Even with something like that? :(

[code]

[2017-11-13 19:26] sredbull commented on #5
change `doclet.alias = '(Vue) ' + componentName` to `doclet.alias = '(Vue)-' + componentName`
at /lib/vueTag.js

[2017-11-13 19:30] Kocal commented on #5
Well, that will change the module name too:
![capture d ecran de 2017-11-13 20-28-42](https://user-images.githubusercontent.com/2103975/32744891-521bddf6-c8b1-11e7-9c5b-e504162d7d9b.png)

Aaand... I don't find this very pretty..
I will search if it's possible to change the filename without changing the module name. I hope it exists, that would be awesome!

[2017-11-13 20:58] sredbull opened #13 "Error: Cannot find module"
having the following issue when I set followImport: true

[code]

And with false:

[code]

It breaks at the components: {} and validations: {} part in export default {}

[2017-11-13 21:12] Kocal commented on #13
Can you provide some code?

[2017-11-13 21:14] sredbull commented on #13
`<script>
  import emitEvent from 'src/mixins/emitEvent'
  import Modal from 'src/components/General/Elements/Modal.vue'
  import { AuthService } from 'src/services/AuthService'
  import {required, email} from 'vuelidate/lib/validators'
  import {
    QCard,
    QCardMain,
    QCardTitle,
    QInput,
    QField,
    QRating,
    QSelect,
    Toast
  } from 'quasar'

  export default {
    name: 'p

[2017-11-13 21:20] Kocal commented on #13
Mmmh, are you sure about your imports ?

Shouldn't be something like that? :
[code]

[2017-11-13 21:23] sredbull commented on #13
Nope, results in same error

[2017-11-13 21:30] Kocal commented on #13
Mmmh... I don't really know...
It's « okay » that's failing if `followImports` is set to `false`, but it shouldn't fail if `followImports` is `true`.

Can you give me your project tree and content of `src/mixins/emitEvent.js` ?

[2017-11-13 21:37] sredbull commented on #13
It looks like there is an issue with the PATH, when I set my imports to use full links to errors go away one by one but the node_modules plugins still fail to load.

[2017-11-13 21:40] sredbull commented on #13
<img width="391" alt="screen shot 2017-11-13 at 22 39 03" src="https://user-images.githubusercontent.com/8779177/32750641-97214848-c8c3-11e7-9fe6-a302b26c7761.png">

[2017-11-13 21:42] Kocal commented on #13
Uh? Why do you have a `jsdoc` folder in your project root?

[2017-11-13 21:42] sredbull commented on #13
<img width="773" alt="screen shot 2017-11-13 at 22 41 50" src="https://user-images.githubusercontent.com/8779177/32750747-e95251c0-c8c3-11e7-818d-30ec2f786747.png">

[2017-11-13 21:44] sredbull commented on #13
I was testing things out with it, let me try the node_modules one to be sure

[2017-11-13 21:52] sredbull commented on #13
unfortunately the same result

[2017-11-14 06:27] Radiergummi commented on #12
Yup, that was my first try...

[2017-11-14 06:35] Kocal commented on #12
Erf... :(

[2017-11-14 10:16] ccqgithub commented on #12
@Kocal this can solve the issue
[code]

[2017-11-14 10:18] ccqgithub commented on #12
and this issue is the same reason: https://github.com/Kocal/jsdoc-vuejs/issues/13

[2017-11-14 12:34] Kocal commented on #12
Well, the code I wrote for in https://github.com/Kocal/jsdoc-vuejs/issues/12#issuecomment-343772593 should also run Babel on `.js` file (see [sourceTransformer.js](https://github.com/Kocal/jsdoc-vuejs/blob/master/lib/sourceTransformer.js))..

Maybe there is somthing I'm missing, I will try to work on it in the evening

[2017-11-14 12:46] ccqgithub commented on #12
@Kocal the js is already run by babel, but it is lost the presets, it is ok after i add the presets to it.

because the projects use diffirent of ES features,  the better way is let people pass custom babel options to `babal-register`

[2017-11-14 18:24] Kocal commented on #12
Yeah that's seems pretty good, thanks, I will write a patch soon!

[2017-11-15 10:02] ksbaozi commented on #5
umm..  i want to know why add blank space before componentName

[2017-11-15 20:40] Kocal commented on #5
Well... idk, I wanted to add a badge-like to easily distinguish a Vue component and a plain-JS module.
But we can probably  use `doclet.alias = componentName + '.vue'` I think :)

[2017-11-19 07:54] Kocal commented on #5
Check this PR #14

[2018-01-09 07:59] #10 closed

[2018-01-09 08:03] #5 closed

[2018-01-09 08:03] #4 closed

[2018-01-15 15:12] Kocal opened #17 "Replace Coveralls by CodeCov"

[2018-01-20 08:20] #12 closed

[2018-01-20 08:20] #13 closed

[2018-01-30 21:31] siralb3rt opened #19 "Error with vuex mapGetters"
I'm having this error:

computed: _extends({}, (0, _vuex.mapGetters)({
                                   ^
TypeError: Cannot read property 'mapGetters' of undefined

This is from vuex mapGetters:
`
...mapGetters({
      getComponents: 'hd/getComponents'
    }),
`

[2018-01-31 05:35] Kocal commented on #19
Did you use `import { mapGetters } from 'vuex'` ?

[2018-02-01 17:12] siralb3rt commented on #19
I found the problem, I had "followImports": false.
with "followImports": true worked

[2018-02-01 17:12] #19 closed

[2018-05-14 22:06] siralb3rt opened #41 "exclude not working when followImports is true"
If I leave followImports: true and exclude node_modules from source it will follow imports in node_modules.

Is there any way I can ignore import paths ?

[2018-05-15 04:46] Kocal commented on #41
It is not supported at the moment.

Feel free to contribute if you want this feature to be added! :slightly_smiling_face:

[2018-06-06 12:04] EdmundTheRadiance opened #47 "Error when use vuex"
`vue.use(vuex)`
when use vuex, this may be some problem:

evalmachine.<anonymous>:21
_vue2.default.use(_vuex2.default);
                      ^

TypeError: Cannot read property 'use' of undefined
    at evalmachine.<anonymous>:21:14
    at ContextifyScript.Script.runInContext (vm.js:53:29)
    at module.exports (D:\work\test\node_modules\jsdoc-vuejs\lib\vueComponentPro
totypeExtractor.js:22:10)

[2018-06-07 05:04] Kocal commented on #47
How did you setup jsdoc-vuejs and Vuex?
Can you provide some code please?

I made a small repo that use Vuex and jsdoc-vuejs, but I didn't encountered any problems:
- repo: https://github.com/Kocal/jsdoc-example-with-vuex
- docs: https://kocal.github.io/jsdoc-example-with-vuex/Vue_App.html

[2018-06-07 09:13] alTimewax opened #48 "Description and prop notes"
Is it possible to add a description to the component and notes to individual props?

[2018-06-07 09:37] Kocal commented on #48
It is not possible yet

[2018-06-08 03:28] EdmundTheRadiance commented on #47
I think it is caused by setting followImports false.
But when I set it true, some modules can't be found, because I use alias in file path like
`import Util from '@/lib/util'`
and webpack will resolve '@' to my project root path's absolute paths, it can't work in jsdoc parsing.
I think I will try to find a way to solve it.

[2018-06-08 03:28] #47 closed

[2018-06-14 07:06] evanRoberto opened #49 "mapGetters"
is mapGetters not supported?

`TypeError: Cannot read property 'mapGetters' of undefined`

[2018-06-14 07:07] Kocal commented on #49
Duplicate of #19

[2018-06-14 07:10] #49 closed

[2018-06-14 07:55] evanRoberto opened #50 "Source point to the wrong line of code"
https://kocal.github.io/jsdoc-vuejs-demo-docs/module-(Vue)%2520BetterCounter.html

[2018-06-14 17:48] Kocal opened #51 "Roadmap for V2"
It will do less things, but it will do them 100 times better.

### Features

- [x] Add tag `@vue.data`, e.g.: `/** @vue.data {String} foo - My foo data */`
- [x] Add tag `@vue.props`
- [x] Add tag `@vue.computed`

### Improvments

- [x] Better and cleaner source code
- [x] Cleaner tests
- [x] e2e tests with Cypress, to check if renderers work
- [x] Support default theme
- [x] Support [docstrap](ht

[2018-06-14 18:57] Kocal opened #52 "Remove options"

[2018-06-14 19:14] #52 closed

[2018-06-14 19:16] Kocal opened #54 "Remove Babel"

[2018-06-14 19:33] Kocal opened #56 "Remove Vue component script evalutation"

[2018-06-14 19:34] #56 closed

[2018-06-15 06:00] Kocal commented on #50
That's because I'm using vue-template-compiler to extract components `<script>` content.
And because of that, Vue components are seen like JavaScript only, it skip `<template>` content.

I'm actually working on a v2 and I will try to do something about that.

[2018-06-15 06:02] Kocal commented on #48
I'm working on a v2 (https://github.com/Kocal/jsdoc-vuejs/issues/51) that will implement this feature.

I'm closing

[2018-06-15 06:02] #48 closed

[2018-06-15 06:03] Kocal commented on #2
I'm working on this feature in v2.

Duplicate of #48, I'm closing.

[2018-06-15 06:03] #2 closed

[2018-06-15 06:05] Kocal commented on #41
Hey, I'm working on v2 and this problem won't happens anymore because it won't evaluate Vue components anymore (so `followImports` will disappear).

I'm closing.

[2018-06-15 06:05] #41 closed

[2018-06-15 06:06] Kocal opened #61 "Replace ESLint standard with ESLint Airbnb"

[2018-06-17 07:19] #61 closed

[2018-06-17 20:18] Kocal commented on #50
This seems to be fixed on v2 (#51), because we are not evaluating + executing Babel on `.vue` files anymore.

v2 is not already released (very soon), but I'm closing anyway.

[2018-06-18 05:01] #17 closed

[2018-06-18 05:02] Kocal commented on #17
https://github.com/Kocal/jsdoc-vuejs/pull/63

[2018-06-18 05:15] #51 closed

[2018-06-19 09:59] zhangyuhan2016 opened #71 "【Methods】 cannot be identified"
Hi~
Vue in example cannot identify jsdoc comments in methods

[2018-06-19 10:58] Kocal commented on #71
Hey,

Oh, you're right, I didn't see that when I was developping the new version...
I will try to write a fix ASAP.

[2018-06-21 20:32] Kocal commented on #71
This has been fixed in [v2.0.1](https://github.com/Kocal/jsdoc-vuejs/tree/v2.0.1).

[2018-06-21 20:34] Kocal commented on #50
Re-opening because of #72.
It has not been fixed because the real problem is that every lines before `export default` is skipped.

I will write a patch ASAP.

[2018-06-22 18:17] #50 closed

[2018-06-27 22:55] sbowler opened #78 "Error on arrow functions"
It looks like the latest fixes are failing on arrow functions.

[code]
This happens in an index.vue file with
[code]

I'm still trying to figure out how to work around this issue, but I thought I should let you know.

[2018-06-27 23:30] sbowler commented on #78
I was able to work around this by adding a memberOf tag before each function, but ideally these should just be ignored.
[code]

[2018-06-28 05:38] Kocal opened #80 "refactor(spec): improve the writing of data/computed/props testing"

[2018-06-28 05:40] Kocal opened #81 "Use standard-version"
https://github.com/conventional-changelog/standard-version

[2018-06-28 10:20] #78 closed

[2018-06-28 10:39] #81 closed

[2018-06-28 11:09] Kocal commented on #78
It has been fixed in #79 and published in 2.0.4.

[2018-06-28 19:54] sbowler opened #83 "Feature Request: Custom Module Names"
Thanks for your work on this. One problem I have is I'd like to be able to differantiate my ES2015 modules from my vue component "modules" as documented. One idea to help with this I think might be to allow us to name a module in a .vue file to override using the file name. At least that way I can call it UserComponent in the documentation or something similar rather than just User if it's called

[2018-06-28 20:17] Kocal commented on #83
This feature has _already existed_ in 1.x, but it was a pain in the ass to have something that works ([1st impl.](https://github.com/Kocal/jsdoc-vuejs/blob/51e31ad68d2dbf56ee65c7ad827d6b93a4860d44/lib/vueTag.js), [2nd impl.](https://github.com/Kocal/jsdoc-vuejs/blob/6c40a9846a563573b27ba55331659d60bed5dce9/lib/vueTag.js), [3rd impl.](https://github.com/Kocal/jsdoc-vuejs/blob/ab02d40b3320b4942a8015

[2018-06-28 22:11] sbowler opened #84 "Array Type Doesn't Work"
I believe this may be a bug. With a `@vue-data` tag of type `{Array}` you can't seem to add an array item type like you typically can with other tags like `@returns` so `{Array.<Number>}` just shows "Array." as the type in the default template when generating. Hope that make sense.

[2018-06-29 12:45] #84 closed

[2018-06-29 12:47] Kocal commented on #84
Released in v2.0.5 :tada:

[2018-06-30 21:02] #80 closed

[2018-07-03 10:19] linkdd commented on #83
I managed to get it working by:

 - moving those lines : [index.js L38-L41](https://github.com/Kocal/jsdoc-vuejs/blob/master/index.js#L38-L41) inside [this if statement](https://github.com/Kocal/jsdoc-vuejs/blob/master/index.js#L26)
 - using the following doclet :

[code]

The current behavior is used whenever the ``@module`` tag is not used.

However, it doesn't work if this tag isn't in the same

[2018-07-03 10:29] Kocal commented on #83
What is the behavior if you have a file named `MyCustomModule.js` that exports a class `MyCustomModule`?

I started to work on a implementation that will suffix `.vue` to namespace of Vue components (#87), but conflict can happens if you have `MyCustomModule.js` and `MyCustomModule.vue` files :thinking:

[2018-07-03 10:33] linkdd commented on #83
Just tried it out, it seems both documentation are merged in a single page (thanks to the ``e.doclet.description || ''`` at line 42).

I have split my code into a hierarchy (``layouts``, ``components`` and ``pages`` folders) and I wanted to see them in the documentation like this:

 - ``layouts/Main``
 - ``components/Form``
 - ...

I copied the ``index.js`` inside my projet with my modifications,

[2018-07-03 11:00] Kocal commented on #83
Let's implement this and write specs! :skull_and_crossbones:
I've planned to work on it this evening, but feel free to open a PR :slightly_smiling_face:

[2018-07-06 04:37] #83 closed

[2018-07-06 04:41] Kocal commented on #83
Released in [v2.1.0](https://github.com/Kocal/jsdoc-vuejs/blob/master/CHANGELOG.md#210-2018-07-06) :tada:

[2018-07-28 19:41] amanofb opened #95 "Not working for created() lifehook"
The docs doesn't show the content for created() lifehook.

[code]

[2018-07-28 20:12] Kocal commented on #95
That's because Vue hooks are implicitly excluded from generated documentation (https://github.com/Kocal/jsdoc-vuejs/blob/master/index.js#L61).

IMO, it's a non-sense to document lifecycle hooks, because they are internal to your component and do not provide any value.

[2018-07-29 06:56] Kocal commented on #95
However, you are free to open a PR if you want hooks to be documented.
But this functionnality should be configurable and disabled by default.

[2018-07-29 06:56] #95 closed

[2018-07-30 11:58] Hideman85 opened #97 "Auto parse @vue-prop"
By default @vue-prop don't set default value and set require to true
[code]
Name | Type | Default value | Required ? | Description
-- | -- | -- | -- | --
step | Number | - | Yes | Set increment/decrement step

Make auto parsing for require, default value and type ...
[code]
Name | Type | Default value | Required ? | Description
-- | -- | -- | -- | --
step | Number | - | No | Set increment/decremen

[2018-07-30 12:24] Kocal commented on #97
Please read #59, you will understand why I removed this feature. :disappointed:

But if you are able to find a clean and working solution to do that (with some tests :eyes:), I would be happy to review your PR! :slightly_smiling_face:

[2018-08-09 08:25] kolesoffac opened #102 "Support slots, events and external .js"
Do you plan to add support for support slots, events, mixins and external .js?

my .vue:
[code]

[2018-08-09 08:31] Kocal commented on #102
Hello,

Nope I didn't plan anything, but this can be nice to have slots and events with `@vue-slot my-slot-name Description...`.

For mixins, do you think to a particular behavior?
- will it be configurable with `@vue-mixin MyMixin`?
- should a link for this mixin be displayed on generated documentation?

For external .js files, I don't see why it should be useful to have them. :thinking:

[2018-08-09 12:27] kolesoffac commented on #102
To dont dificult temlate, to .vue was max clear and contains only template.

This bad?

[2018-08-09 12:29] kolesoffac commented on #102
This main aimp!

[2018-08-09 12:50] Kocal commented on #102
Mmmh, okay.

I _understand_ what you are saying, and yes those are interesting functionalities (but not really for external `.js` files :thinking:).

`@vue-slot` and `@vue-event` will be easy to implement, `@vue-mixin` will be a little harder :thinking:

Feel free to open a pull request, thanks! :level_slider:

[2018-08-09 13:03] kolesoffac commented on #102
Why? What is the reason?

[2018-08-09 13:40] Kocal commented on #102
Firsly, I think it's counter-productive to split a `.vue` in multiple files (`.vue` for template, a `.js` for javascript, and maybe a `.css` for your styles).
If your JavaScript code directly acts on your template, then it should be kept inside your `.vue` in my opinion.

Secondly, this is not how JSDoc works (I think?).
Yes we can dev something to inject your `.js` on-the-fly, then it will be abl

[2018-08-09 13:56] kolesoffac commented on #102
In such cases, how will myxins belong to this component? Mixins are precisely defined in separate files.

[2018-08-09 13:58] kolesoffac commented on #102
https://vuejs.org/v2/guide/single-file-components.html#What-About-Separation-of-Concerns

[2018-08-09 14:02] Kocal commented on #102
Thank you, I know this feature exists, that why I said "I think".

For mixins, you should use `@vue-mixin Foo` I guess.

[2018-08-09 14:41] kolesoffac commented on #102
I also use computed and data selection in mixin, but all definitions
[code]
are located in .vue.

How to deal with these fields?

[2018-08-09 14:45] Kocal commented on #102
Mmmh...

Good question. Maybe `@vue-mixin` can take a filename that will be read and parsed by jsdoc-vuejs?
And then after parsing, we populate component's prop/data/computed?

What do you think?

[2018-08-11 19:32] Kocal opened #104 "refactor(renderers): use a templating system"
Like EJS, to make our life easier.

[2018-08-12 05:25] Kocal opened #105 "feat(renderer): provide a way for using a custom renderer written by the user"
Wait #104 before think and work on this.

[2018-08-12 18:29] Kocal commented on #104
Added in #106

[2018-08-12 18:29] #104 closed

[2018-08-15 08:55] MarcelloPerathoner opened #109 "Message "Using default renderer" breaks JSON output"
Usually you can call `jsdoc -X` to get JSON output. Using this plugin you get broken JSON because the message "Using default renderer" shows up at the top. (The `jsdoc -X` feature is used by sphinx_js.)

[2018-08-15 09:28] Kocal commented on #109
Oh, I wasn't aware of that behaviour.

Anyway, this message has been indirectly removed with #106 (see https://github.com/Kocal/jsdoc-vuejs/pull/106/files#diff-1136f4dbfe67a612a978ede458d23388), I will publish a new release very soon.

[2018-08-15 09:35] Kocal commented on #109
Just realeased [2.2.0](https://github.com/Kocal/jsdoc-vuejs/blob/master/CHANGELOG.md#220-2018-08-15), please close this issue if it's fine for you 🙂

[2018-09-10 21:45] bpod opened #118 "@method annotations ?"
This is more of a question. Does this support marking up methods? I've tried a couple things that do not seem to be working.

[2018-09-10 23:28] bpod commented on #118
NVM... figured it out..

[2018-09-10 23:28] #118 closed

[2018-09-18 12:44] Akaryatrh commented on #102
@kolesoffac Did you find a solution when using external files? Or did you switch to another solution?

[2018-10-01 18:24] Guobacai opened #122 "Empty section when using the "TUI" template."
In the example, it shows two empty sections. Is there any way to remove these two sections if they are not used.

![screen shot 2018-10-01 at 2 19 44 pm](https://user-images.githubusercontent.com/6625163/46307631-6de75700-c585-11e8-8d76-b4f89ecf6ead.png)

I have also tried to fill up these two sections according to the examples in the "[tui template](https://github.com/nhnent/tui.jsdoc-template)".

[2018-10-01 19:24] #122 closed, assigned to nobody

[2018-10-03 12:15] pbastowski opened #124 "The latest version 2.2.2 fails - 2.2.0 works"
With version 2.2.0 everything works fine. With 2.2.2 I get the error message below. My config file is after the error message.

[code]

**config.json**
[code]

[2018-10-03 12:32] pbastowski opened #125 "Add @vue-slot and @vue-event annotation to document slots and emitted events"
Update: I see that I should probably have added this to #102.

This is a proposal to extend jsdoc-vuejs with two new annotations:

@vue-slot
@vue-event

I need to document slots and events that are offered by my components. jsdoc does not have a suitable annotation for slots. There is the @emits annotation, but it does not work well for events, as it does not have a way to document the event's par

[2018-10-03 12:42] pbastowski commented on #102
Hi guys

Both slots (scoped) and events have an ability to pass parameters. It would be great if we had a `@vue-slot` and` @vue-event` annotation, which would allow us to follow it with @param annotations. @params would then describe the slots and events for us. The result would be a table for slots and a separate table for events, just like we get for @vue-prop.

For example

[code]

Is this feas

[2018-10-03 12:42] pbastowski commented on #125
Closing in favor of #102

[2018-10-03 12:42] #125 closed

[2018-10-03 14:12] Kocal commented on #102
I don't think this is feasible in JSDoc core, when you have one comment block, `@param` will apply for the whole comment block.

[2018-10-03 14:46] pbastowski commented on #102
I see.
Well then @vue-slot and @vue-event, even without @param, will still be much better then nothing at all :)

And I can use separate @typedef blocks to define the parameters and then refer to them in the slot/event descriptions.

[2018-10-08 10:17] pbastowski commented on #102
Update: @event can be used to document events already, like this

[code]

[2018-10-18 10:11] silverspectro commented on #124
same problem here.

[2018-10-18 10:30] Kocal commented on #124
Oh sorry, I totally forgot about this issue.
I will take a look.

[2018-10-18 10:57] #124 closed

[2018-10-18 10:58] Kocal commented on #124
Fixed in #127, v2.2.3 has been released.

[2018-10-18 12:13] pbastowski commented on #124
Thanks, it now works.

[2018-11-16 15:23] pkuwwt opened #136 "jsdoc-vuejs not compatible with JavaScript modules?"
JSDoc-vuejs is great. But when I use it, the comments for function in a module will disappear.

For example, I create a vue project:
[code]

And then I create the configuration file `jsdoc.config.json`:

[code]

There are two modules: `test-es.js` and `test-common.js`:

[code]

[code]

Then I test them with and without `jsdoc.config.json`:

[code]

The results are different: comments for the metho

[2018-11-16 16:34] Kocal commented on #136
Hum, I'm pretty sure it's because of https://github.com/Kocal/jsdoc-vuejs/pull/128...
Which version do you use?

[2018-11-16 16:39] pkuwwt commented on #136
jsdoc 3.5.5
jsdoc-vuejs 2.3.0

[2018-11-16 21:18] Kocal commented on #136
I mean #128 probably introduce the problem.
Can you try with `jsdoc-vuejs` please?

[2018-11-17 13:51] pkuwwt commented on #136
Yes, version 2.2.3 is fine

[2018-11-17 14:48] Kocal commented on #136
Okay I see the problem.
I'm working on a patch.

[2018-11-17 16:41] Kocal commented on #136
@pkuwwt PR #137 should fix this issue. Would you mind to try it?

[2018-11-17 18:00] pkuwwt commented on #136
It works!.
Thanks.

[2018-11-17 18:10] #136 closed

[2018-11-17 18:31] Kocal commented on #136
Released in v2.3.1

[2018-11-22 15:41] jaskiratr opened #139 "[Example] : Error: Cannot find module 'ejs'"
I'm trying to run the commands for the example provided in the repository. However, when I use npm or yarn, I get the following error. Any thoughts on what might be causing this issue? Thank you
[code]

[2018-11-22 15:43] Kocal commented on #139
That's really strange because `ejs` is [listed as a dependency](https://github.com/Kocal/jsdoc-vuejs/blob/master/package.json#L32).

What version of jsdoc-vuejs do you use? Does `npm ls` or `yarn list` show you that `ejs` is installed?

[2018-11-22 15:56] jaskiratr commented on #139
My apologies. I ran package install script from within example folder.
[code]

Fixed it by
[code]

[2018-11-22 16:01] Kocal commented on #139
Oh, okay :+1:

By the way there is also some dependencies in `example`, so you must run:
[code]

[2018-11-22 16:05] jaskiratr commented on #139
Noted. Thank you for your quick response.
Would you like me to create a minor pull request for readme.md to add this information?

[2018-11-22 16:21] #139 closed

[2018-11-22 16:58] Kocal commented on #139
Yes, feel free to! 😊
It would be nice to add it in `Testing` section, with steps:
- git clone
- yarn install

And also update steps for E2E 👍

[2018-11-23 01:20] hughxusu opened #140 "@desc tag not work"
[code]

content in @desc not output in docs, how to handle it? Thanks~~~

[2018-11-23 05:57] Kocal commented on #140
That's because of this line: https://github.com/Kocal/jsdoc-vuejs/blob/master/index.js#L61

Change the line to `e.doclet.description = (e.doclet.description || '') + str;` make `@desc` works.

I'm working on a patch.

[2018-11-23 06:13] hughxusu commented on #140
it work, thank you~~~

[2018-11-23 06:13] #140 closed

[2018-11-23 06:50] Kocal commented on #140
Released in v2.3.2

[2018-11-30 10:37] ozum commented on #97
Hi,

Looking issues on #59, if I understand correctly, problems were related to parsing vue components. Have you seen [jsdoc-vuedoc](https://github.com/ccqgithub/jsdoc-vuedoc)? It uses [vuedoc/parser](https://gitlab.com/vuedoc/parser) and [vuedoc/md](https://gitlab.com/vuedoc/md).

I want to share here, maybe it could help you for next major version.

[2018-11-30 11:45] Kocal commented on #97
That's interesting, thanks for the sharing. :+1:

[2018-11-30 11:48] ozum commented on #97
Also I found another one: [vue-docgen-api](https://www.npmjs.com/package/vue-docgen-api)

 This is also used by big projects such as vue-styleguidist.

[2018-12-14 14:28] marko-mlinarevic opened #151 "How to mark child components"
Is it possible to somehow tag which component is child which is parent?

[2018-12-14 14:36] Kocal commented on #151
Nope that's not possible.

[2018-12-14 16:14] marko-mlinarevic commented on #151
thanks for quick answer 👍

[2018-12-14 16:14] #151 closed

[2018-12-24 06:16] leeziiAtCn opened #157 "why you use 'vue-template-compuler' custom version ?"
if you use custom version , in my project , must use lastest version too.
for example :
i use vue as " vue: '2.5.4'" ,you use compiler as  "vue-template-compiler:'^2.5.17'"

I will get an error, vue and vue-template-compiler version is not same,

can please u fix it ? or provide a optimize plan?

[2018-12-24 06:21] leeziiAtCn commented on #157
u can use
"peerDependencies": {
    "vue": "^2.5.2"
  },

[2018-12-24 06:50] #157 closed

[2018-12-24 07:01] Kocal commented on #157
Fixed in v2.3.4

[2018-12-26 03:11] pkuwwt opened #159 "Feature request"
Why jsdoc-vuejs doesnot support markdown plugin?

It doesnot even support multiple-line comments.

[2018-12-26 03:22] pkuwwt opened #160 "Feature request for vue-emit"
The events are important interfaces for vue component.

I tried `@event`, however, it generates a link to Test.html other than Test.vue.html.

Appreciated if this feature is included.

[2018-12-26 07:34] Kocal commented on #160
See #102, feel free to contribute

[2018-12-26 07:34] Kocal commented on #159
Feel free to send a pull request 👍

[2019-01-08 10:00] Kokosso commented on #160
@Kocal hello! I want to create this feature, but I have a question. Why do you ignore integration tests from ./cypress ?

[2019-01-08 10:20] Kocal commented on #160
Hi @Kokosso, thanks for taking time for this. :+1:

I don't understand your question, what do you mean by "ignore integration tests from ./cypress" ?

[2019-01-08 16:15] Kokosso commented on #160
@Kocal  I'm sorry. I understood how your tests work and I have not any questions =)

[2019-01-10 16:59] turboteddy opened #169 "Breaks standard documentation for mixins"
Thanks for the good work. I'm not sure why, but when I try to documents methods of a mixin, these aren't displayed:

[code]

Also tried with...
[code]
If I drop the vue-tags, it works (i.e. the function `foo` is shown in output).

Is this a bug, or did I misunderstand something (must admit that I'm very new to Vue)? It works if I drop the `@mixin` tag, but then it's no longer labelled as a mixin.

[2019-01-11 13:12] turboteddy commented on #169
Thanks for quick reply, @Kocal ! Please see "[experimental suggestion](https://github.com/Kocal/jsdoc-vuejs/pull/170/commits/fcf04737ef8b502026debd8592fad880f849911f)"

[2019-01-11 18:38] Kocal commented on #169
Thanks for the contrib, I will see when I can have some free time to review it! :slightly_smiling_face:

[2019-01-19 13:00] Kocal opened #173 "See to make Cypress integration tests easier to write/read and less verbose"
Abuse `data-testid` attribute.

[2019-01-19 14:17] #160 closed

[2019-02-01 09:42] GerkinDev commented on #118
Hey there!
It would be nice if you explain your solution, because it's still not working for me..

[2019-02-01 09:46] GerkinDev commented on #71
Can you please show a usage example? I can't get it to work...

[2019-02-01 15:36] Kocal commented on #118
There is no `@vue-method` annotations because in fact (after some tricks), it's JSDoc itself that parse and render them in the documentation.

You can take a look to this [example](https://github.com/Kocal/jsdoc-vuejs/blob/master/example/src/better-components/BetterCounter.vue) and to its [integration test](https://github.com/Kocal/jsdoc-vuejs/blob/master/cypress/integration/templates/default.spec

[2019-02-01 15:40] Kocal commented on #71
See #118.

[2019-04-16 14:46] heitorlessa opened #210 "Getting started example for newcomers"
Hello,

 Firstly, thank you so much for putting this together!

 I'm new to JSDoc so I might be doing something wrong as the generated docs don't have any sidebar menu items - Would you have any example for JSDoc newbies?

 Here's what I've done so far after trying to understand how to use this plugin and JSDoc:

**Installed JSdoc, this plugin and minami template**

``npm install jsdoc jsdoc-vuejs

[2019-04-18 09:49] lzm420241 opened #211 "JavaScript heap out of memory Error"
### Condition Destription
#### JSDoc configuration
[code]
#### my test/packages directory structure :
/dirA/index.js
/dirB/index.js
/dirC/index.js
/dirD/index.js

the core code (index.js#31):
[code]
i think the better code like this:
[code]
i wish to handle the condition by config file, like this:
[code]
[code]

[2019-04-20 06:10] nikolaydyankov commented on #210
I'm having the same issue. Works fine for the .js files, but doesn't generate anything for the SFCs.

[2019-04-21 06:09] Kocal commented on #211
Hi,

I'm not sure to understand, can you provide a reproduction repository and reproduction steps?

What version of Node do you use?
What is your operating system?

[2019-04-21 06:12] Kocal commented on #210
Hi,

Normally you have everything [here](https://github.com/Kocal/jsdoc-vuejs#usage).

And you can't use `@vue-prop` tag on the prop itself, you should put it before the `export default {}`.

Also you will find some example [here](https://github.com/Kocal/jsdoc-vuejs/tree/master/example) (for manami template and .vue documenting)

[2019-04-21 06:16] heitorlessa commented on #210
Thanks Hugo - Been using JSDoc with esdoc extensively since the post here.
I will give this a try tomorrow and post results.

Thanks for taking the time to reply

On Sat, 20 Apr 2019 at 23:12, Hugo Alliaume <notifications@github.com>
wrote:

[2019-04-21 22:05] heitorlessa commented on #210
thanks a lot @Kocal that was it - It was indeed something as simple as moving the block of comments up.

[2019-04-21 22:05] #210 closed

[2019-04-22 02:51] lzm420241 commented on #211
@Kocal
environment:
node: 10.15.3
OS: macOS
description:
[code]
i use vuejs to build my project, and i didn't modify vuejs source code.
let us the current condition:
we want to build n files, but the file name is index.js, then can you imagine that jsdoc will build how much file，just called module-index.html.
if the amount of index.js files is less than five, jsdoc will build successfully, but fil

[2019-04-29 07:32] #211 closed

[2019-05-14 07:09] songyumeng opened #218 "Feature request : support custom jsdoc template"
Hi,Thanks for your work on this.
I have a problem: I create a custom jsdoc template with my own css style,etc.
jsdocs folder:
├── plugins
├── template
│   ├── static
│   ├── tmpl
├── config.json

config.json
**"opts": {
        "recurse": true,
        "template": "./template",
        "configPath": "./",
        "destination": "./docs"
 }**

But this plugin only supports 4 templates,not supports

[2019-05-25 05:53] Kocal opened #224 "Make JSDoc a peer dependency"
It's a really bad thing to include it.

[2019-06-10 06:40] 625781186 opened #229 "Vue watch no parse."
![image.png](https://i.loli.net/2019/06/10/5cfdfb1e7702135068.png)

[2019-06-13 20:42] Kocal commented on #229
Yes it's not implemented, since it's an internal behavior I don't think we should document it.

You can open a PR by inspiring you from #174.

[2019-07-16 13:34] hgeissler opened #240 "Does not work on hooks for me"
[code]

^ For me this code-snippet from your example does not work. It is not getting parsed into the documentation.
I'm using vue version 2.6.10

[2019-07-30 18:58] Kocal commented on #240
Duplicate of #95

[2019-07-30 18:58] #240 closed

[2019-07-30 18:58] #229 closed

[2019-09-16 07:43] Kocal commented on #224
Done in #225

[2019-09-16 07:43] #224 closed

[2019-10-11 05:10] SangJuBaek opened #267 "Vue document is output twice"
## myJsdoc.json
`{
  "tags": {
    "allowUnknownTags": true,
    "dictionaries": ["jsdoc", "closure"]
  },
  "source": {
    "include": ["./"],
    "includePattern": "\\.(js|vue)$",
    "exclude": ["./dist", "./config", "./coverage", "./js", "./temp", "./test", "./docs"],
    "excludePattern": "/node_modules/"
  },
  "plugins": ["node_modules/jsdoc/plugins/markdown", "node_modules/jsdoc-vuejs", "n

[2019-10-15 08:31] xyydd opened #268 "[Methods] when I use "debounce", it cannot recognize the method"
[code]

[2019-10-25 18:20] Kocal commented on #268
Hi, and sorry for the delay.

I think it's more a JSDoc issue than anything else, I will give a try this week-end.

[2019-11-07 16:53] brandoncordell opened #275 "Helper functions with jsdoc blocks are not outputted in the documentation"
In the [example](https://github.com/Kocal/jsdoc-vuejs/blob/master/example/src/better-components/BetterCounter.vue#L65) you have a jsdoc block over a helper function (not a vuejs event). Is that documentation supposed to be generated? The only thing generated for me is what is marked as a `@vue-event` but I often have functions in `methods:` that I wouldn't classify as an event.

Here are the jsdoc

[2019-11-09 12:38] Kocal commented on #275
`@vue-event` is used to document events emitted by the component with `this.$emit('my-event')`.

Functions in `methods` are parsed normally by JSDoc, they should not by documented as events.

[2019-11-09 18:43] brandoncordell commented on #275
@Kocal Thank you. Therein lies my problem. Inside of .vue files the only thing parsed and added to the documentation are `@vue-*` tags. No other documentation is generated (e.g. a normal jsdoc method).

[2020-02-16 15:18] LouisMazel opened #311 "Snippets or VS Code extension ?"
Hello,

Do you have some snippets or an extension for VS Code?
An extension that could auto comment on VueJs files to the fullest?

For example who checks the props and functions of the file and who will write the comment "pre-filled"

Thanks!

[2020-02-16 17:09] Kocal commented on #311
Hi,

Nope, I don't know any extensions that does what you want, sorry :/

[2020-03-19 01:45] chovy opened #320 "npm generation?"
I'm not using yarn, how do I generate docs with npm?

I tried `npx jsdoc doc -c ./jsdoc.json` and it just says no files to process.

Also jsdocs.json doesn't seem to find files.

[code]

[2020-03-19 08:28] Kocal commented on #320
Well, first you are not running jsdoc with npm but with np**x**.
Does `doc` folder` exists?

I ran the command in `jsdoc-vuejs/example` directory and it's working fine:

[code]

[code]

- node version: 10.18
- npm version: 6.13.4

[2020-03-19 17:06] chovy commented on #320
Doesnt' appear to work for me.

[2020-03-19 17:06] chovy commented on #320
[code]

I'm running `npx jsdoc -c jsconf.json`

[2020-03-30 05:58] so-hentai commented on #320
I think you have JSDoc installed globally

[2020-03-31 21:33] chovy commented on #320
i got it working.

`    "docs": "rm -rf ./docs/* && npx jsdoc -r --debug -d docs -c ./jsdoc.json"`

just needed `-r`

[2020-04-24 20:12] jfdelarosa opened #333 "Output as markdown"
Is there a way to output the docs as markdown files instad of html?

I tried using [jsdoc-to-markdown](https://github.com/jsdoc2md/jsdoc-to-markdown) but i can't make it work.

[2020-04-25 06:19] #320 closed

[2020-04-25 06:19] #311 closed

[2020-04-25 06:25] Kocal commented on #333
Hi, what do you tried?

[2020-08-05 23:55] Elaniobro opened #363 "[Feature] - Support for ...mapMutations as a method declaration"
I would like to be able to document in place a components mutations in the metods block above the `...mapMutations`
e.g.:
[code]

when doing so, it is throwing the documentation into the nav bar on the side, and not in scope with the rest of the documentation for said component. See below:

<img width="1044" alt="Screen Shot 2020-08-05 at 7 54 14 PM" src="https://user-images.githubusercontent.com/

[2020-08-06 16:22] Elaniobro opened #364 "[Bug] - can't set Required?"
Awesome plugin, really liking how it works so far.

Not sure if this a bug, known or other, but I can't seem to set the `Required?` table cell in the `@vue-props` declaration.

[code]

Nothing seems to work, and `Required?` is always `No`

[2020-08-06 16:39] Elaniobro commented on #102
@Kocal did you ever get around to building out the `@vue-slot`? I see this issue is still opened.
@pbastowski did you ever get it working?

[2020-08-11 11:38] Kocal commented on #102
@Elaniobro hi, no I didn't work on it, but you are free to send a PR if you need it.

[2020-08-11 11:41] Kocal commented on #364
Hi, and thanks for your words.

I think you need to use this to make a property required:
[code]

Since it uses `bgColor` instead of `[bgColor=#000]`, the property is now seen as required.

[2020-08-11 11:46] Kocal commented on #363
Hi,

I think you need to use `@memberof` with the name of your component, otherwise it won't be supported.

Can you try:
[code]

[2020-08-11 14:58] Elaniobro commented on #363
Hi @Kocal, yes, I did try your way. While it does supress it from showing up in the sidebar as noted in my previous comment, it does not, unfortunately appear within the card component methods.

Any other ideas? And thank you for your reply!

[2020-08-11 19:26] Elaniobro commented on #364
Thank you for your reply, how then would you set the default value, along side required?
`* @vue-prop {('cube-grid'|'three-bounce')} [name='cube-grid'] - name of loader to use`
<img width="621" alt="Screen Shot 2020-08-11 at 3 25 55 PM" src="https://user-images.githubusercontent.com/710847/89940090-f950bb00-dbe6-11ea-803d-1640f737fdbe.png">

`* @vue-prop {('cube-grid'|'three-bounce')} name - name

[2020-08-11 21:19] Elaniobro commented on #267
I had the same error with another plugin I was using. The error for me is/was in the config. Trying modifying yours to read as:
` "include": [],`

[2020-08-11 21:33] pbastowski commented on #102
@Elaniobro Sorry, I don’t remember exactly what I did with that. It’s been almost two years since then.

[2020-08-12 08:26] Kocal commented on #364
How can a Vue props can be required if it has a default value?

[2020-08-12 15:33] Elaniobro commented on #364
@Kocal fair enough, but the documentation is then confusing since `Required?` says `no`. Would it not make more sense to then void the value e.g. `-`since the `Default Value` is present? Similar to how its show when `Required?` is `Yes`?

[2020-08-16 20:47] Kocal commented on #363
Hey, good news, I got it working by using `@memberof module:<Your component name>.methods`

See:
![Capture d’écran de 2020-08-16 22-46-02](https://user-images.githubusercontent.com/2103975/90343592-51862380-e012-11ea-90e1-55d20a831810.png)

by using the following code:
[code]

Tell me if it works for you!

[2020-08-17 19:45] Elaniobro commented on #363
Huzzah! Thanks @Kocal this does in fact work!

[2020-08-17 19:45] #363 closed

[2020-10-13 11:43] crutch12 opened #386 "Support vue 3"
To compile vue3 template we have to use [@vue/compiler-sfc](https://www.npmjs.com/package/@vue/compiler-sfc) because [vue-template-compiler](https://www.npmjs.com/package/vue-template-compiler) is for vue2 only.

[2020-10-13 11:45] crutch12 commented on #386
https://github.com/vuejs/vue-next/issues/670#issuecomment-579785869

[2020-11-17 10:58] halaszbalazs opened #394 "@description tag does not works in v3.0.9"
With jsdoc-vuejs v3.0.9 the standard JSDoc `@description` tag does not rendered into documentation, see my code below:
[code]
I have also tried with `@desc` tag and single line without `@param` but does not work. I have found issue #140 which mentioned also the same problem and was fixed back then, but now this is an issue again (at least for me).
Is there any way to fix this?
For reference I have

[2020-11-17 11:09] Kocal commented on #394
Hi!

That's weird this issue is back again, since there are [tests that cover this case](https://github.com/Kocal/jsdoc-vuejs/pull/141/commits/bcd746488d42d65395e350c9de385d51a7334c15).

Also I don't think you have to use any `@description` or `@desc` tag, what happens if you use don't use it?

[2020-11-17 11:20] halaszbalazs commented on #394
Hi @Kocal

I have also tried without `@param` tags (in fact this was my first intention) and the description is not rendered in the docs, after this I have tried with the tags with no luck unfortunately.

I'm using the Tui template with slight CSS modifications which does not affect the description - it's just simply does not exist in the rendered HTML code. I can confirm that all the descriptions

[2020-11-17 11:27] halaszbalazs commented on #394
Update: I think I've found the problem. On [https://github.com/Kocal/jsdoc-vuejs/blob/master/lib/templates/tui.ejs#L4](https://github.com/Kocal/jsdoc-vuejs/blob/master/lib/templates/tui.ejs#L4) there's a style tag which uses `display: none;` on `.container-overview`. After removing that, everything works fine.

[2021-02-03 20:38] PeterCaballero commented on #275
Inside Vue file, in Methods section, I only use
/**
* Description of myFunction
*@param {Type} paramX - desription
*/
myFunction(paramX){
   ....
}

Instead of using @function, i got my methods well parsed by just giving them a description. The vuejs plugin recognizes and uses the name of each method (defined in code) and that is  what i see on html doc.

[2021-02-08 17:39] scheepers opened #406 "Markdown in additional vue tags don't work."
Behaviour: Outputs markdown as is.
![Screenshot 2021-02-08 at 19 38 36](https://user-images.githubusercontent.com/4947962/107259126-4ce07c00-6a45-11eb-8d61-e74d7594ce10.png)

Expected: Parse markdown (eg links) and render into HTML in the docs.

To replicate:

Specify additional tags to process markdown in a config.json as per https://jsdoc.app/plugins-markdown.html:
[code]

Add markdown to an add

[2021-02-17 08:46] ismatech commented on #394
Hi @Kocal!
I still have issue with a description of my props variables.
![изображение](https://user-images.githubusercontent.com/30582837/108178331-618fd480-7115-11eb-8079-a99e15aa9513.png)
![изображение](https://user-images.githubusercontent.com/30582837/108178412-779d9500-7115-11eb-8097-60bcda84b590.png)
I've checked result html and it's just empty td element. I use better-docs template. But pro

[2021-02-17 08:48] ismatech opened #407 "@vue-data and @vue-computed don't work."
Have a look at screenshots:
![изображение](https://user-images.githubusercontent.com/30582837/108178816-ed096580-7115-11eb-83a3-d24d8e6954ff.png)
![изображение](https://user-images.githubusercontent.com/30582837/108178835-f4c90a00-7115-11eb-856e-25d075df6ef4.png)
There is no computed block in output.
And @vue-data also doesn't work.
I did the same as presented in your example.
Help me please! :)

[2021-02-18 21:22] Kocal commented on #407
Hi,

I don't think your JSdoc template is supported, see https://github.com/Kocal/jsdoc-vuejs#supported-templates.

jsdoc-vuejs is literally _hacking_ JSDoc to render Vue props, data, computed and events, see :
- https://github.com/Kocal/jsdoc-vuejs/blob/master/index.js#L59-L63
- default template for an implementation example https://github.com/Kocal/jsdoc-vuejs/blob/master/lib/templates/default.e

[2021-02-19 07:55] ismatech commented on #407
Hi Kocal!
The business isn't about template I've used.
Because I used all of them including default one. But still there was no any success.

[2021-05-07 15:55] ivanushkaPr opened #419 "vuejs-doc tooltips doesnt show in template area."
Hello dear developers! I have a problem with you great tool.
If i use comments shown in documention. and afterthat moving mouse over imported component like this, i can see everything i documented.

[
![useCase1](https://user-images.githubusercontent.com/26376786/117476463-ac2b2b00-af65-11eb-94b0-721de459aedf.png)
](url)

But, if i move my mouse over component in template area i see nothing. Is it

[2021-05-08 19:55] Kocal commented on #419
Hi, I think it's more an IDE issue than an issue from jsdoc or from jsdoc-vuejs.
Can you open a ticket to https://youtrack.jetbrains.com/issues/WEB please?

Thanks.

[2021-05-08 19:55] #419 closed

[2021-05-17 05:58] midnight-ht opened #423 "typescript 项目报错，排除之后正常"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `jsdoc-vuejs@3.0.9` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2021-05-18 09:22] Kocal commented on #423
Hi @midnight-ht, and thanks!

I'm not sure to correctly understand the patch, would it be possible for you to add some tests?
Thanks!

[2021-06-23 17:14] Elaniobro opened #435 "Typescript support"
I am using jsDocs with jsdoc-vuejs in a nuxt project. I keep getting parsing errors

[code]

none of this makes sense, since neither of these files fail when running `yarn lint`  eg: `eslint --ext .js,.vue --ignore-path .gitignore .`

[2021-06-25 15:48] Programina commented on #364
I will be honest here and admit that I also find the documentation might benefit from being a little clearer on what part of that syntax designates what. I am currently doing a lot of trial and error to get both the name of the prop and the required state right and haven't managed both at once yet.

[2021-07-05 16:34] InvenTorrey commented on #386
Is there any general timeline on support for vue3?

[2021-07-08 00:26] DaveTorrey commented on #386
@Kocal @crutch12 I created a fork that uses the new @vue/compiler-sfc.  I put up an npm package until such time that an official one from Kocal might come up (also invited as maintainer on that package).

fork is available here:
https://github.com/DaveTorrey/jsdoc-vuejs

[2021-07-08 00:28] DaveTorrey opened #439 "Support top level "Vue Component" tag"
I've been looking through the jsdoc documentation to figure out how to add a top level tag and separate it, what I'm really looking for is an ability to separate vue single file components from modules.  Right now they're all lumped into the same top level.  If anyone has a familiarity with how to do this I can add a fix to add it.

[2021-07-08 02:01] DaveTorrey commented on #267
like @Elaniobro mentioned, it seems like if your pathing overlaps it will duplicate it.  make sure the paths stay separate

[2021-07-08 07:19] Kocal commented on #386
Fixed by #440, released in [4.0.0](https://www.npmjs.com/package/jsdoc-vuejs/v/4.0.0), thanks @DaveTorrey!

[2021-07-08 07:19] #386 closed

[2021-07-09 00:38] DaveTorrey commented on #102
@Kocal have you seen vuese?  It works really well for documenting vue components.  Personally the only reason I've avoided using it is because it seems to be specific to vue and I don't think integrates the rest of jsdocs like your plugin does.  But it might provide ideas for implementation

[2021-09-16 12:25] ameeey opened #449 "Multiple type of props and event payload type"
Hey, there!

Is it possible to add JSDoc multiple prop type  or payload type in documentation ?
e.g:

props: {
		value: {
			type: [String, Number, Boolean],
			default: ''
		}
}

Can we add [String, Number, Boolean] in prop type ?

[2021-09-17 07:30] #449 closed, assigned to nobody

[2021-09-17 07:31] ameeey commented on #449
Use `| `  between types
E.g: String|Number|Boolean

[2021-09-22 07:19] ameeey opened #452 "Add prop validator in Jsdoc"
Can we add prop validator in Jsdoc
example:

props:{
          size: {
			type: String,
			default: null,
			`validator: function(value) {
				const validSizes = [null, 'xs', 'sm', 'lg'];
				return validSizes.indexOf(value) !== -1;`
			}
		}
}

Currently, do we have any functionality where we can add a validator in Jsdoc?

[2021-10-22 08:37] bagsiur opened #453 "jsdoc-vuejs generates empty documentation"
Hi,

I'm trying to generate the documentation using jsdoc-vuejs. Unfortunately, despite many attempts, I am not able to generate documentation for an example component - the documentation is empty:

I am using Vue3 and jsdoc-vuejs 4. Here is my package.json:

[code]

My .jsdoc.js file:

[code]

My example component for which I want to generate documentation:

[code]

What am I doing wrong?

[2021-11-04 07:31] qiulongwen opened #454 "how to support vue mixins?"

[2021-11-08 11:36] onezyr opened #455 "don't support decorator"
When I use the decorator in my vue file,  the jsdoc will report an error. "Decorators cannot be used to decorate object literal properties. "

[2022-03-21 21:16] TASimpson commented on #435
@Elaniobro did you ever figure out this issue? I am experiencing the same thing with my vue project. Thanks!

[2022-03-27 18:10] Elaniobro commented on #435
nope.  Although,  Typescript itself,  is documentation, I am still hoping for a fix.

[2022-03-30 20:30] dribeiro-tc opened #458 "<script setup> Support"
My docs were being generated correctly. Until I decided to upgrade my script tags to use script setup as Vue Docs recommends.

This led to my docs not being generated anymore.

Does jsdoc-vuejs supports <script setup>?

[2022-04-21 06:32] vfiee commented on #458
Are there any updates?

[2022-04-21 07:14] vfiee opened #463 "error generating document closure label for vue file"
<img width="1033" alt="image" src="https://user-images.githubusercontent.com/42051272/164396108-66958040-e107-45cf-94fe-ff32830e06ff.png">

[2022-07-19 13:30] cbecker-tc commented on #458
Still no updates?

[2022-07-28 15:12] andrewv517 commented on #458
anything?